*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 90%;
    max-width: 400px;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

h1{
    text-align: center;
    color: #008000;
    margin-bottom: 20px;
}

label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select{
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border
